* {
  box-sizing: border-box;
  font-family: georgia,'times new roman',times,serif;
}

html {
  font-size: 62.5%;
}

/* Navbar */

nav {
  position: fixed;
  background-color: #fff;
  color: #333;
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 4.8rem;
  align-items: center;
  padding-left: 2rem;
  border-bottom: 0.1rem solid #e2e2e2;
  
}

.left-nav{
  display: flex;
  font-size: 1.5rem;
  font-weight: bold;
}

.left-nav i{
  margin-right: 1.7rem;
}

.middle-nav{
  display: flex;
}

.right-nav{
  display: flex;
  margin-right: 4rem;
}

.right-nav button{
  background-color: #567b95;
  margin-right: 0.5rem;
  padding: 1rem;
  color: white;
  font-weight: bold;
  font-size: 1.1rem;
  border: 0.1rem solid #326891;
  border-radius: 0.3rem;
}

/* Main */

main {
  display:grid;
  padding-top: 10rem;
  margin: 0 auto;
  max-width: 90%;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: minmax(2rem, auto);
  gap: 1rem;
  padding-bottom: 1.5rem;
}

.main-title {
  grid-column: 2 / 5;
  font-size: 4rem;
  line-height: 4.8rem;
  color: #121212;
  font-weight: 700;
  font-style: italic;
}

.allan-guth {
  grid-row: 2 / 5;
  grid-column: 1 / 7;
  justify-self: center;
}

.allan-guth img {
  width: 100rem;
}

.allan-guth-desc {
  grid-row: 5;
  grid-column: 1 / 7;
  justify-self: center;
  font-size: 1.5rem;
  width: 100rem;
  color: #666;
}

.allan-guth-desc span {
  font-size: 1.2rem;
  color: #888;
}

.author {
  grid-row: 6;
  grid-column: 2 / 7;
  font-size: 1.5rem;
  font-weight: 700;
  color: #333;
  align-self: baseline;
  padding-top: 4rem;
}

.date{
  grid-row: 7;
  grid-column: 2 / 4;
  align-self: center;
  font-size: 1.3rem;
  font-weight: 500;
  color: #333;
}

.social-icons{
  grid-row: 7;
  grid-column: 4 / 6;
  align-self: flex-end;
  justify-self: flex-end;
}

.social-icons i{
  margin-right: 2rem;
}

#chat{
  display: unset;
}

#chat .fa-stack-1x{
  font-size: 60%;
  left: 0.3rem;
  bottom: 0.2rem;
}

.main-text{
  grid-row: 8;
  grid-column: 2 / 6;
  font-size: 2rem;
  font-weight: 400;
  line-height: 3rem;
  color: #333;
}

/* .acc-details::before {
  content : "";
  position: absolute;
  height  : 0.1rem;
  width   : 50%;
  border-bottom:1px solid magenta;
} */

.acc-details {
  grid-row: 9;
  grid-column: 3 / 5;
  border-top: 0.1rem solid rgb(204, 204, 204);
  border-bottom: 0.1rem solid rgb(204, 204, 204);
  text-align: center;
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 1.9rem;
  padding: 3.6rem 0 3.6rem 0;
}

.acc-details a {
  text-decoration: none;
}
